#header{
    margin: 2%;
    text-align: center;
    padding: 2%;
    background-color:white;
    font-family: 'Kalzania';
   
}

header img{
    width: 5%;
    height: 5%;
}

#footer{
    text-align: center;
    font-family: 'Kalzania';
    padding: 1%;
    background-color:white;
}

nav a{
    text-decoration: none;
    color: darkmagenta;
}

nav a:hover{
    text-decoration: underline dotted;
    padding: 2%;
    background-color: rgb(239, 207, 239);
}

#navigator{
    color:darkviolet;
    display: inline-block;
    width: 30%;
    height: 90%;
    vertical-align: top;
    margin: 0%;
    border-radius: 25%;
    border:dotted darkviolet 2px;
    padding-top:5%;
    padding-bottom: 5%;
}



#main{
    display: inline-block;
    width: 65%;
    margin: 0%;
    padding: 2%;
    color: darkmagenta;
}

nav ul{
    list-style-type: none;
}




h1,h3{
    font-family: 'playWrite';
    
}

body{
    background-color: lavender;
}